<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174987964-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-174987964-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>{{ title }} - Amaar Quadri</title>
    {% else %}
        <title>Amaar Quadri</title>
    {% endif %}
</head>
<body>
    <div id="app">
        <!-- React will load here -->
    </div>
</body>
<script>
    {% load static %}
    const staticURL = "{% get_static_prefix %}"
</script>
{% block reactscript %}{% endblock %}
</html>
